
.user-info-left {
    padding:0 0 10px 70px;
    width:30%;
    float: left;
}
.user-info-right {
    width:70%;
    float:right;
}
.user-info-address {
    margin:0 0 10px 70px;
    width:60%;
    height: 60px;
    resize:none;
}
.user-info-edcuation-p {
    padding:10px 40px;
    text-align: left;
    border:2px solid #DAE3E2;
    border-radius: 3%;
}
.task-add {
    padding: 10px 60px;
}
.task-add #self-moudle-task-add-submit {
  margin: 0 130px;
}
.task-add #task-add-thumbnail {
    width: 350px;
    height: 150px;
}
#user-info hr {
    height:2px;
}
#self-module-user-toolbar-seach {
    background: #c7ccd1;
    border-radius: 10%;
    width: 70px;
    margin: 0 30px 0 0;
}
#user-info-photo {
    width: 90px;
    height:100px;
    margin-right: 20px;
    border: 1px solid #CDCDD1;
}
#user-info-advace-identification {
    width:280px;
    height:120px;
    margin-right: 20px;
    border: 1px solid #CDCDD1;
}
#user-info-advace-qualification {
    width:280px;
    height:120px;
    margin-right: 20px;
    border: 1px solid #CDCDD1;
}
#user-info-advace {
    padding: 10px 40px;
    border:1px solid #DAE3E2;
}
#selft-user-info-particulars-tabs p{
    margin: 0 0 5px 0;
}
#selft-user-info-particulars-tabs label {
    color: gray;
}