body {
    background: #FDFBF7;
}
.layui-container {
    width: 1100px;
}
.active-title {
    line-height: 35px;
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    color: #333;
}
.active-times {
    line-height: 35px;
    font-size: 14px;
    color: #b1b0b0;
}
.active-address {
    line-height: 35px;
    font-size: 14px;
    color: #b1b0b0;
}
.active-status {
    float: right;
    margin-right: 5%;
    line-height: 35px;
    font-size: 14px;
    color: black;
}